<h1>Listing letters</h1>

<table>
  <tr>
    <th>Letter campaign</th>
    <th>Language</th>
    <th>Supporter</th>
    <th>Country code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @letters.each do |letter| %>
  <tr>
    <td><%= letter.letter_campaign_id %></td>
    <td><%= letter.language_id %></td>
    <td><%= letter.supporter_id %></td>
    <td><%= letter.country_code %></td>
    <td><%= link_to 'Show', letter %></td>
    <td><%= link_to 'Edit', edit_letter_path(letter) %></td>
    <td><%= link_to 'Destroy', letter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Letter', new_letter_path %>
