<div class="innerContainer"></br>
<h1 style="text-align:center;">Graph on Different Campaigns </h1>

  
<% form_tag letter_campaigns_path,  :method => 'get' do %>
<p>
	Start Date: <input class="picker" name="first" type="text"  value="<%= @first.strftime('%Y-%m-%d') unless @first.nil? %>" /></br></br>
	
	End Date: &nbsp; <input class="picker" name="last" type="text" value="<%= @last.strftime('%Y-%m-%d') unless @last.nil? %>"  /></br></br>
	Interval:&nbsp; &nbsp;  <input type="text" name="interval" value="<%= @interval %>"/></br></br>
</p>

<div id="form-campaign">
<p style="text-align:center; font-size:16px;"><strong>Tribe Selection</strong></p></br>
	<%-(0..@max_number_of_tribes).each do |num| %>
		<select name="campaign<%= num %>">
			<option value="0">-- none --</option>
			<%- @campaigns.each do |campaign| %>
				<option value="<%= campaign %>"<%= (campaign.eql?(@params["campaign#{num}"])) ? ' selected' : '' %>><%= campaign %></option>
			<%- end %>
		</select>
	<%- end %>
</div></br></br>
	

<%= submit_tag "Load Graph", :name => nil %>
<% end %>





<% if @series -%>
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "campaign_chart",
	
	zoomType: 'x',
        spacingRight: 20
      },
        title: {
        text: "Letters for Different Campagins"
      },
	  subtitle: {
         text: "Letters per Week"
      },
      xAxis: {  
        type: "datetime",
	 maxZoom: 14 * 24 * 3600000, // fourteen days
        labels: {
	  rotation: -45,
          align: 'right',
          formatter: function() {
           return Highcharts.dateFormat("%b %e, %Y", this.value-1);
          }
        }
	
      },
      yAxis: {
        title: {
          text: "Number of Letters"
        }
      },
   
      tooltip: {
	   
	    formatter: function() {
          return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + 
                 Highcharts.numberFormat(this.y, 0) + ' letters' + '<br/> Campaigns: ' + this.series.name ;
        },
		
      },
      
     series: [
      <%- @series.each_key do |key| %>
      {
          name: '<%= key %>',
          pointInterval: <%= @interval.days * 1000 %>,
          pointStart: <%= (@first + 1.day).to_i * 1000 %>,
          pointEnd: <%= (@last + 1.day).to_i * 1000  %>,
          data: <%= @series[key] %>
         },
       <%- end %>
       ],
    });
  });
</script>

<div id="campaign_chart" style="width:1000px; height: 600px;"></div>
<% end -%>
<br />
<br />





<br />





<%= link_to 'Home Page', members_path %> |
<%= link_to "Sign out", signout_path %></p>
</div>